.left_box {
    height: 90vh;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.left_sideItems_link div {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1.5rem;
    border-radius: 5px;
}

.left_sideItems_link div:hover {
    background-color: lightblue;
    cursor: pointer;
}

.main_page {
    height: 90vh;
}

.crousal_box {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

.crousalimg_box {
    max-width: 130px;
    min-width: 130px;
}

.activity_controles div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.center_page {
    width: 50%;
}

.user_intrestion span {
    font-size: 20px;
    cursor: pointer;
}

.comment_sec {
    border-top: 2px solid lightgray;
}

.comment_sec span {
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.comment_sec span:hover {
    background-color: lightgray;
}

.right_page {
    height: 90vh;
}
.news_likeBox span{
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 50px 3px 50px;
    border-radius: 10px;
}
.news_likeBox span:hover{
    background-color: whitesmoke;
}
.profileSec_buttons button{
    border: 1px solid #000000;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 600;
}
.userSec_buttons{
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
}
.userSec_buttons button{
    border: 1px solid lightgray;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    background-color: whitesmoke;

}
.allPost button{
    font-size: 25px;
    padding: 2px 35px 2px 35px;
    border-radius: 8px;
}
.allPost button:hover{
    background-color: lightgray;
}
.form_boxes div{
    background-color: yellow;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 420px) {
    .left_box{
      display: none;
    }
    .right_page{
        display: none;
    }
    .header_sec{
        width: 100%;
        flex-wrap: wrap;
    }
    .center_page{
        width: 100%;
    }
    .social_links i{
        font-size: 16px;
    }
    .social_links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
    .social_icons{
        display: none;

    }
    .news_sec{
        width: 100%;
    }
    .market_Sec{
        width: 100%;
    }
    .marketSec_products{
        width: 47%;
    }
  }