.left_box {
    height: 90vh;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.left_sideItems_link div {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 1.5rem;
    border-radius: 5px;
}

.left_sideItems_link div:hover {
    background-color: lightgray;
    cursor: pointer;
}

.main_page {
    height: 90vh;
}

.crousal_box {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

.crousalimg_box {
    max-width: 130px;
    min-width: 130px;
}

.activity_controles div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.center_page {
    width: 50%;
}

.user_intrestion span {
    font-size: 20px;
    cursor: pointer;
}

.comment_sec {
    border-top: 2px solid lightgray;
}

.comment_sec span {
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.comment_sec span:hover {
    background-color: lightgray;
}

.right_page {
    height: 90vh;
}
.news_likeBox span{
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    padding: 3px 50px 3px 50px;
    border-radius: 10px;
}
.news_likeBox span:hover{
    background-color: whitesmoke;
}
.profileSec_buttons button{
    border: 1px solid #000000;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 600;
}